body{
	background: #FDF8AB
}
.container{
	width: 60%;
	margin:0 auto;
	margin-top: 50px;
	background: white;
	border: 2px solid black;
	box-shadow: 0px 0px 30px black;
}
.main{
	padding: 10px;
}
#banner{
	text-align: center
}
h1{
	text-align: center;
	font-size: 44px;
	color:#85A136;
	background: #E2EBB4;
}
.container h2{
	color: #F96F2C;
	font-size: 24px;
	border-top: 2px dotted #E2EBB4;
	border-bottom: 2px dotted #E2EBB4;
}
.note{
	border: 1px dotted #F96F2C;
	border-radius: 10px;
	width: 35%;
	background: #FAEBC7;
	float: right;
	margin:0px 10px 10px 10px;
	box-shadow: 5px 5px 10px black;
	box-sizing: border-box;
}
.note h2{
	padding: 10px 0px 0px 10px;
	border-top: 20px solid #F96F2C;
	border-bottom:none;
	border-radius: 10px;
}
.note p{
	padding: 10px;
}
.main p{
	padding-top:10px;
	padding-bottom: 10px;
}
.main h2:nth-child(3){
	width: 62%;
}
.main h2:nth-child(5){
	width: 62%;
}

